<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Add Details</title>
</head>
<body>
    <h1>Add Vehicle Details</h1>
    <form action="/Compose" method="POST">
        Vehicle No. : <input type="text" name="vehicle" placeholder="Enter Vehicle No."><br>
        DI No. : <input type="number" name="dino" placeholder="Enter DI Number"><br>
        Place : <input type="text" name="place"><br>
        Qty : <input type="number" name="qty"><br>
        Rate : <input type="number" name="rate"><br>
        Amount : <input type="number" name="amount"><br>
        Diesel : <input type="number" name="diesel"><br>
        Other Expenses : <input type="number" name="expenses"><br>
        Remarks : <input type="text" name="remarks"><br>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>