<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Swastik</title>
</head>
<body>
    <h1>Vehicle Details</h1>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/Compose"><li>Compose</li></a>
    </ul>
    <ul>
        <% details.forEach(function(detail){ %>
            <a href="/vehiclenum/<%= detail._id %> " ><li><%= detail.Vehicle %></li></a>
       <% }) %>
    </ul>
</body>
</html>